* {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

.container {
    height: 800px;
    margin: 50px;
   text-align: center;
}
p {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}