* {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}
.container {
    margin: 50px;
    height: 800px;
    text-align: center;
   
}
p {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
}

h2 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

